/*#f9f9ff
#767782
#666670
#c6e7f5
#98ccd5*/

.highlight {
  color: ;
  font-family: 'Abel', sans-serif; /* custom google font*/
}

.data {
  color: ;
  font-family: "Geneva", sans-serif;
}

.text {
  color: ;
  font-family: "Georgia", serif;
}

body {
  background-color: ;
}

.boxes {
  background-color: ;
}
