/*#1E1910
#5E4A3A
#F5EBD1
#B0A994
#9B5C58*/


body {
  background-color: #F5EBD1;
  color: #1E1910;
  font-family: 'Abel', sans-serif; /* custom google font*/
}

.highlight {
  color: #9B5C58
}

.data {
  color: #5E4A3A;
  font-family: "Geneva", sans-serif;
}

.text {
  color: ;
  font-family: "Georgia", serif;
}

body {
  background-color: ;
}

.boxes {
  background-color: ;
}

table {
  /*border: 2px solid black;*/
  border-style: solid;
  background-color: #B0A994;
  color: #9B5C58;
}
